/* General styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contaioner {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(39, 39, 66);
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgb(94, 92, 90);
}

input[type="text"] {
  margin-left: 5%;
  padding: 15px 20px; /* Adjusted padding for better appearance */
  width: 300px; /* Adjusted width to fit container */
  min-width: 300px;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 20px;
  color: white; /* Changed text color to white */
  background-color: transparent;
  border: 1px solid white; /* Removed the border */
  outline: none; /* Removed the outline */
  text-align: right; /* Align the text to the right */
  ::placeholder {
    color: rgb(182, 172, 160);
  }
  box-shadow: none; /* Removed the box shadow */
}

/* Button styles */
.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

button {
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.equal {
  border-radius: 30px;
  grid-column: span 2;
}

/* Social media icons styles */
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional: If you want to add space between the icons, use the following property */
  /* gap: 10px; */
}

.intro-social {
  list-style: none;
  display: flex;
  /* Optional: If you want the icons to be in a row instead of a column */
  /* flex-direction: row; */
}

.intro-social li {
  margin: 5;
  padding: 5;
}

.intro-social li a {
  display: inline-block;
  color: #333; /* Set the color for the icons */
  font-size: 24px; /* Adjust the icon size as needed */
  /* Optional: Add padding around the icons */
  /* padding: 5px; */
}


/* Mobile view styles */
@media (max-width: 768px) {
  .contaioner {
    width: 100%;
    margin: 50px auto;
  }

  input[type="text"] {
    margin-left: 10; 
    min-width: 0; 
    padding: 15px 20px; 
    text-align: right;
  }

  .btn {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  button {
    padding: 15px;
    margin: 5px 0px;
    font-size: 18px;
  }

  .equal {
    grid-column: span 3;
    border-radius: 30px;
  }
}
