/* General styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contaioner {
  height: 100vh;
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(39, 39, 66);
  border-radius: 20px;
  box-shadow: 6px 6px 13px rgb(94, 92, 90);
}

input[type="text"] {
  margin-left: 5%;
  padding: 10px 20px 10px 30px;
  width: 90%;
  border-radius: 30px;
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  color: darkblue;
  background-color: transparent;
  border: none;
}

::placeholder {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(182, 172, 160);
}

/* Button styles */
.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.equal {
  width: 100%;
  border-radius: 30px;
}

/* Social media icons styles */
.social-media-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

.social-media-icons li {
  margin: 0 10px;
}

.social-media-icons a {
  display: block;
}

.social-media-icons img {
  width: 48px;
  height: 48px;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .contaioner {
    width: 100%;
    margin: 50px auto;
  }

  input[type="text"] {
    width: 100%;
  }

  .btn {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  button {
    padding: 15px;
    margin: 5px;
    font-size: 18px;
  }

  .equal {
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
  }
}
